<h1>  Profile: {{name | uppercase}}</h1>
<ul>
  <li> Age :{{age}}</li>
  <li> Experience (Yrs) :{{exp}}</li>
  <li> Email: {{email}}</li>
   <li>street : {{address.street}} {{address.city}} {{address.state}}</li>
</ul>

<button (click)="onClickSim()">Add Skill</button>
<button (click)="toggleEdit()">Edit User</button>
<div *ngIf=isEditFlag>
<h1>Edit User</h1>
<form>
  <div>
    <label for="name">Name:</label>
    <input type="text" [(ngModel)]="name" name="name">
  </div>
  <div>
    <label for="age">Age:</label>
    <input type="number"[(ngModel)]="age" name="age">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="text"[(ngModel)]="email" name="email">
  </div>
  <div>
    <label for="street">Street:</label>
    <input type="text"[(ngModel)]="address.street" name="street">
  </div>
  <div>
    <label for="city">City:</label>
    <input type="text"[(ngModel)]="address.city" name="city">
  </div>
  <div>
    <label for="state">State:</label>
    <input type="text" [(ngModel)]="address.state" name="state">
  </div>
</form>
</div>
<h1>Primary Skills</h1>
<form (submit)="addSkill(skill.value)">
  <div>
    <label for="skill">Skills:</label>
    <input type="text" #skill>
  </div>
</form>
<ul>
  <li *ngFor="let skill of skills; let i=index">
    {{i+1}}: {{skill}}<button (click)="deleteSkill(skill)">X</button>
  </li>
  </ul>

<h1>Posts</h1>
<div *ngFor="let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
</div>